.border:hover {
    box-shadow: inset 0 0 0 5px #53a7ea;
}

.border {
    height: 100px;
    width: 700px;
    background-color: #0883BB;

    display: flex;
    justify-content: left;
    align-items: center;
}

.style-4 input[type="text"] {
    width: 170px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

.style-4 > input[type="text"] {
    margin-left: 10px;
    margin-right: 10px;
}

/* #Silver Flat Button
==================================================*/
.silver-flat-button {
    position: relative;
    vertical-align: top;
    width: 170px;
    height: 40px;
    padding: 0;
    font-size: 19px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #bdc3c7;
    border: 0;
    border-bottom: 2px solid #acb2b7;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #acb2b7;
    box-shadow: inset 0 -2px #acb2b7;

    margin-left: 80px;
}

.silver-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* #Transition
==================================================*/
#wrapper {
    width: 700px;
    background: #ccc;
    overflow: hidden;
    transition: height 200ms;
    height: 0px;
}